{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
        <div class="col d-flex justify-content-center">
            <div class="card w-50 d-none d-sm-flex" style="background-color: rgba(250,235,215);">
                <!-- show normally on md and above -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <!-- Container wrapper -->
                    <div class="container-fluid">
                        <!-- Toggle button -->
                        <button
                                class="navbar-toggler"
                                type="button"
                                data-mdb-toggle="collapse"
                                data-mdb-target="#navbarCenteredExample"
                                aria-controls="navbarCenteredExample"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                        >
                            <i class="fas fa-bars"></i>
                        </button>

                        <!-- Collapsible wrapper -->
                        <div
                                class="collapse navbar-collapse justify-content-center"
                                id="navbarCenteredExample"
                        >
                            <!-- Left links -->
                            <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page"
                                       href="{% url 'insights' %}">Insights</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{% url 'see_data' %}">Journeys</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'see_goals' %}">Goals</a>
                                </li>
                            </ul>
                            <!-- Left links -->
                        </div>
                        <!-- Collapsible wrapper -->
                    </div>
                    <!-- Container wrapper -->
                </nav>

                <div class="justify-content-center" align="center">
                    <div class="row">
                    </div>

                    <!-- Dashboard -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dash_board_data_total.0 }}<br>Journeys</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dash_board_data_total.1 }}<br>Goal(s) Reached</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dash_board_data_total.2 }} €<br>worth Traveled</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Timefilter for data</h5>
                                    <input type="date" onchange="updateChart()" id="startdate">
                                    to
                                    <input type="date" onchange="updateChart()" id="enddate">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Travel Time filter -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Journeys per Month</h5>
                                    <canvas id="myChart" style="width: 90%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Money Time filter -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Cumulative costs per Month</h5>
                                    <canvas id="moneyChart" style="width: 90%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script>
                    <script>
                        let ctx = document.getElementById("myChart").getContext("2d");
                        let ctx_money = document.getElementById("moneyChart").getContext("2d");

                        let startdateinput = document.getElementById("startdate")
                        let enddateinput = document.getElementById("enddate")

                        enddateinput.value = new Date().toISOString().substring(0, 10);
                        var startd = new Date();
                        startd.setFullYear(startd.getFullYear() - 1);
                        startdateinput.value = startd.toISOString().substring(0, 10);


                        const journeys = [
                            {% for item in journeys %}
                                {
                                    date: new Date('{{ item.date|date:'Y-m-d' }}'),
                                    price: {{ item.price }}
                                },
                            {% endfor %}
                        ];

                        var freqMap = new Map();
                        journeys.forEach(function (date) {
                            let monthName = date.date.toLocaleString("en-us", {
                                month: "short"
                            });
                            let key = monthName + "-" + date.date.getFullYear().toString().substr(-2);
                            let count = freqMap.get(key) || 0;
                            freqMap.set(key, ++count);
                        });

                        const chart = new Chart(ctx, {
                            plugins: [ChartDataLabels],
                            type: "bar",
                            data: {
                                labels: [...freqMap.keys()],
                                datasets: [
                                    {
                                        label: "Journeys per month",
                                        backgroundColor: "#79AEC8",
                                        borderColor: "#417690",
                                        data: [...freqMap.values()],
                                        datalabels: {
                                            color: "white"
                                        }
                                    }
                                ]
                            }
                        });

                        var cumsumMap = new Map();
                        journeys.forEach(function (date) {
                            let monthName = date.date.toLocaleString("en-us", {
                                month: "short"
                            });
                            let key = monthName + "-" + date.date.getFullYear().toString().substr(-2);
                            let count = cumsumMap.get(key) || 0;
                            cumsumMap.set(key, count + date.price);
                        });

                        var old = 0;
                        cumsumMap.forEach(function (price, month) {
                            old = old + price;
                            cumsumMap.set(month, old);
                        });

                        const chart_money = new Chart(ctx_money, {
                            plugins: [ChartDataLabels],
                            type: "line",
                            data: {
                                labels: [...cumsumMap.keys()],
                                datasets: [
                                    {
                                        label: "Money worth traveled",
                                        backgroundColor: "#79AEC8",
                                        borderColor: "#417690",
                                        data: [...cumsumMap.values()],
                                        datalabels: {
                                            color: "#417690",
                                            formatter: Math.round,
                                            align: 'end'
                                        }
                                    }
                                ]
                            }
                        });

                        function filterJSONData(inp, id1, id2) {
                            let copy = [...inp]
                            const start = new Date(document.getElementById(id1).value);
                            const end = new Date(document.getElementById(id2).value);
                            let ret = copy.filter(date => date.date >= start && date.date <= end);
                            return ret;
                        }

                        function updateChart() {
                            let filt_js = filterJSONData(journeys, "startdate", "enddate");
                            let freqMap = new Map();
                            filt_js.forEach(function (date) {
                                var monthName = date.date.toLocaleString("en-us", {
                                    month: "short"
                                });
                                var key = monthName + "-" + date.date.getFullYear().toString().substr(-2);
                                var count = freqMap.get(key) || 0;
                                freqMap.set(key, ++count);
                            });
                            chart.config.data.datasets[0].data = [...freqMap.values()];
                            chart.config.data.labels = [...freqMap.keys()];
                            chart.update();

                            let cumsumMap = new Map();
                            filt_js.forEach(function (date) {
                                let monthName = date.date.toLocaleString("en-us", {
                                    month: "short"
                                });
                                let key = monthName + "-" + date.date.getFullYear().toString().substr(-2);
                                let count = cumsumMap.get(key) || 0;
                                cumsumMap.set(key, count + date.price);
                            });

                            let old = 0;
                            cumsumMap.forEach(function (price, month) {
                                old = old + price;
                                cumsumMap.set(month, old);
                            });

                            chart_money.config.data.datasets[0].data = [...cumsumMap.values()];
                            chart_money.config.data.labels = [...cumsumMap.keys()];
                            chart_money.update();
                        }
                    </script>

                    <div>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
            <div class="card w-100 d-sm-none" style="background-color: rgba(250,235,215);">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <!-- Container wrapper -->
                    <div class="container-fluid">
                        <!-- Toggle button -->
                        <button
                                class="navbar-toggler"
                                type="button"
                                data-mdb-toggle="collapse"
                                data-mdb-target="#navbarCenteredExample"
                                aria-controls="navbarCenteredExample"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                        >
                            <i class="fas fa-bars"></i>
                        </button>

                        <!-- Collapsible wrapper -->
                        <div
                                class="collapse navbar-collapse justify-content-center"
                                id="navbarCenteredExample"
                        >
                            <!-- Left links -->
                            <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page"
                                       href="{% url 'insights' %}">Insights</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{% url 'see_data' %}">Journeys</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'see_goals' %}">Goals</a>
                                </li>
                            </ul>
                            <!-- Left links -->
                        </div>
                        <!-- Collapsible wrapper -->
                    </div>
                    <!-- Container wrapper -->
                </nav>
                <div class="justify-content-center" align="center">
                    <div class="row">
                        <br>
                    </div>

                    <!-- Dashboard -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dash_board_data_total.0 }}<br>Journeys</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dash_board_data_total.1 }}<br>Goal(s) Reached</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dash_board_data_total.2 }} €<br>worth Traveled</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Filter input -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Timefilter for data</h5>
                                    <input type="date" onchange="updateChart_2()" id="startdate_2">
                                    to
                                    <input type="date" onchange="updateChart_2()" id="enddate_2">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Travel Time filter -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Journeys per Month</h5>
                                    <canvas id="myChart_2" style="width: 90%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Money Time filter -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Cumulative costs per Month</h5>
                                    <canvas id="moneyChart_2" style="width: 90%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        let ctx_2 = document.getElementById("myChart_2").getContext("2d");
                        let ctx_money_2 = document.getElementById("moneyChart_2").getContext("2d");

                        let startdateinput_2 = document.getElementById("startdate_2")
                        let enddateinput_2 = document.getElementById("enddate_2")

                        enddateinput_2.value = new Date().toISOString().substring(0, 10);
                        var startd_2 = new Date();
                        startd_2.setFullYear(startd.getFullYear() - 1);
                        startdateinput_2.value = startd.toISOString().substring(0, 10);

                        var freqMap = new Map();
                        journeys.forEach(function (date) {
                            let monthName = date.date.toLocaleString("en-us", {
                                month: "short"
                            });
                            let key = monthName + "-" + date.date.getFullYear().toString().substr(-2);
                            let count = freqMap.get(key) || 0;
                            freqMap.set(key, ++count);
                        });

                        const chart_2 = new Chart(ctx_2, {
                            plugins: [ChartDataLabels],
                            type: "bar",
                            data: {
                                labels: [...freqMap.keys()],
                                datasets: [
                                    {
                                        label: "Journeys per month",
                                        backgroundColor: "#79AEC8",
                                        borderColor: "#417690",
                                        data: [...freqMap.values()],
                                        datalabels: {
                                            color: "white"
                                        }
                                    }
                                ]
                            }
                        });

                        var cumsumMap = new Map();
                        journeys.forEach(function (date) {
                            let monthName = date.date.toLocaleString("en-us", {
                                month: "short"
                            });
                            let key = monthName + "-" + date.date.getFullYear().toString().substr(-2);
                            let count = cumsumMap.get(key) || 0;
                            cumsumMap.set(key, count + date.price);
                        });

                        var old = 0;
                        cumsumMap.forEach(function (price, month) {
                            old = old + price;
                            cumsumMap.set(month, old);
                        });

                        const chart_money_2 = new Chart(ctx_money_2, {
                            plugins: [ChartDataLabels],
                            type: "line",
                            data: {
                                labels: [...cumsumMap.keys()],
                                datasets: [
                                    {
                                        label: "Money worth traveled",
                                        backgroundColor: "#79AEC8",
                                        borderColor: "#417690",
                                        data: [...cumsumMap.values()],
                                        datalabels: {
                                            color: "#417690",
                                            formatter: Math.round,
                                            align: 'end'
                                        }
                                    }
                                ]
                            }
                        });

                        function filterJSONData(inp, id1, id2) {
                            let copy = [...inp]
                            const start = new Date(document.getElementById(id1).value);
                            const end = new Date(document.getElementById(id2).value);
                            let ret = copy.filter(date => date.date >= start && date.date <= end);
                            return ret;
                        }

                        function updateChart_2(){
                            let filt_js = filterJSONData(journeys, "startdate_2", "enddate_2");
                            let freqMap = new Map();
                            filt_js.forEach(function (date) {
                                var monthName = date.date.toLocaleString("en-us", {
                                    month: "short"
                                });
                                var key = monthName + "-" + date.date.getFullYear().toString().substr(-2);
                                var count = freqMap.get(key) || 0;
                                freqMap.set(key, ++count);
                            });
                            chart_2.config.data.datasets[0].data = [...freqMap.values()];
                            chart_2.config.data.labels = [...freqMap.keys()];
                            chart_2.update();

                            let cumsumMap = new Map();
                            filt_js.forEach(function (date) {
                                let monthName = date.date.toLocaleString("en-us", {
                                    month: "short"
                                });
                                let key = monthName + "-" + date.date.getFullYear().toString().substr(-2);
                                let count = cumsumMap.get(key) || 0;
                                cumsumMap.set(key, count + date.price);
                            });

                            let old = 0;
                            cumsumMap.forEach(function (price, month) {
                                old = old + price;
                                cumsumMap.set(month, old);
                            });

                            chart_money_2.config.data.datasets[0].data = [...cumsumMap.values()];
                            chart_money_2.config.data.labels = [...cumsumMap.keys()];
                            chart_money_2.update();
                        }
                    </script>

                    <div>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>

        </div>
        <script>


        </script>
    {% else %}

        <br class="mt-0 mb-4">
        <div class="container">
            <div class="global-container">
                <div class="card login-form">
                    <div class="card-body">
                        <h3 class="card-title text-center">Welcome to the KlimaticketR</h3>
                        <div class="card-text">
                            <a class="btn btn-block btn-rounded btn-outline-primary" href="{% url 'login' %}">Login</a>
                            <a class="btn btn-block btn-rounded btn-primary" href="{% url 'signup' %}">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            html, body {
                height: 100%;
                background-color: #f5f5f5;
            }

            .global-container {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                /* background-color: #f5f5f5; */
            }

            form {
                padding-top: 10px;
                font-size: 14px;
                margin-top: 30px;
            }

            .card-title {
                font-weight: 300;
            }

            .btn {
                font-size: 14px;
                margin-top: 20px;
            }


            .login-form {
                width: 330px;
                margin: 20px;
            }

            .sign-up {
                text-align: center;
                padding: 20px 0 0;
            }

            .alert {
                margin-bottom: -30px;
                font-size: 13px;
                margin-top: 20px;
            }
        </style>

    {% endif %}

{% endblock %}